/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  */
/*  */
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #121212;
  line-height: 1.5;
  user-select: none;
  height: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Header y navbar */
header {
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 1.2em;
}

.navbar__item a:active,
.navbar__item a:focus {
  transform: none; /* Desactiva transformaciones */
  padding: initial; /* Asegúrate de que no se cambien los padding */
  margin: initial; /* Asegúrate de que no se cambien los márgenes */
  border: none; /* Asegúrate de que no se cambien los bordes */
}

.click {
  color: #00aaff;
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.navbar__list {
  list-style-type: none;
  display: flex;
}

.navbar__item {
  margin-left: 30px;
}

.navbar__item a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar__item a:hover {
  color: #00aaff;
}

/* menu hamburguesa*/
.menu-btn {
  display: none;
}

.menu-btn-label {
  display: none;
  cursor: pointer;
}

.menu-btn-label div {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: all 0.3s ease;
}

/* Main */
.main {
  text-align: center;
  padding: 1.2em 1em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__title {
  font-size: 3rem;
  color: #00aaff;
  margin-bottom: 0.2em;
}

.section {
  padding-bottom: 1.5em;
}

.section h3 {
  color: #ffffff;
  margin-bottom: 0.3em;
}

.main__subtitle {
  font-size: 1.7rem;
  color: #e0e0e0;
  margin-bottom: 0.2em;
}

.main__description {
  font-size: 1.1rem;
  max-width: 800px;
  color: #cccccc;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 1em;
}

.main__description li p {
  font-size: 1rem;
  color: #cccccc;
}

.main img {
  margin-top: 30px;
  width: 150px;
  border: 5px solid #00aaff;
}

.form {
  max-width: 400px;
  margin: 2em auto;
  padding: 1.5em;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

textarea {
  resize: none;
}

h3 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.2em;
  color: #333;
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3em;
  font-size: 0.9em;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.4em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.9em;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.7em;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
  padding: 1.2em;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar__list {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .menu-btn:checked ~ .navbar__list {
    display: flex;
  }

  .menu-btn-label {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .navbar__item {
    margin: 15px 0;
  }

  .main__title {
    font-size: 2.5rem;
  }

  .main__subtitle {
    font-size: 1.3rem;
  }

  .main__description {
    font-size: 1.1rem;
    margin: 24px;
  }

  .main img {
    width: 120px;
  }

  .form {
    padding: 1.2em;
  }
}

@media (max-width: 480px) {
  .navbar__item {
    margin: 10px 0;
  }

  .main__title {
    font-size: 2rem;
  }

  .main__subtitle {
    font-size: 1.2rem;
  }

  .main__description {
    font-size: 1rem;
  }

  .main img {
    width: 100px;
  }

  .menu-btn-label div {
    background-color: #00aaff;
  }

  .form {
    width: 85%;
    padding: 1.2em;
  }
}
